@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0, 0, 0;
  --background: 255, 255, 255;
  --orange-red: 235, 88, 55;
  --redis-gray: 183, 171, 152;
  --x: 0;
  --y: 0;
  --size: 50px;
  --clip-path-size: 1%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 255, 255, 255;
    --background: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

@media only screen and (min-width: 768px) {
  .red-layer-mask {
    -webkit-mask-image: url("../../public/circle-mask.svg");
    mask-image: url("../../public/circle-mask.svg");
    mask-position: calc(var(--x) - var(--size) / 2)
        calc(var(--y) - var(--size) / 2),
      center;
    -webkit-mask-position: calc(var(--x) - var(--size) / 2)
        calc(var(--y) - var(--size) / 2),
      center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-origin: content-box;
    -webkit-mask-origin: var(--size), content-box;
    mask-size: var(--size), contain;
    -webkit-mask-size: var(--size), contain;
  }
}

@media only screen and (max-width: 768px) {
  .red-layer-clip-path {
    clip-path: circle(var(--clip-path-size) at var(--x) var(--y));
  }
}
